@media screen and (max-width:1070px) {
    .img-sec {
        flex-wrap: wrap;
    }

    .img-ch {
        width: 100%;
    }

    .img-ch1 {
        width: 100%;
    }

}

@media screen and (max-width:950px) {
    .orange-sec {
        flex-wrap: wrap;
    }

    .orange-ch {
        width: 100%;
    }

    .orange-ch1 {
        width: 100%;
    }

    .plane-div,
    .touch-div,
    .get-btn1,
    .have-div {
        margin-left: 5%;
    }
}

@media screen and (max-width:900px) {
    .we-div {
        top: 15%;
    }

    .we-heading {
        font-size: 40px;
    }

    .get-btn {
        /* margin-top: 10px; */
        height: 45px;
        width: 130px;
        font-size: 12px;
    }

    .design-ch {
        flex-wrap: wrap;
    }

    .desgin-subch {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width:860px) {
    .nav-ul {
        display: none;
    }

    .bar-icon {
        display: flex;
    }

    .nav-icon-div {
        width: 120px;
    }

    .nav-icon-ch {
        width: 33.33%;
    }

    .create-div {
        flex-wrap: wrap;
    }

    .create-ch {
        width: 100%;
        margin-top: 20px;
    }

}

@media screen and (max-width:768px) {

    .slider-ch {
        width: 303%;
        animation: slider-move 10s linear infinite;
    }

    @keyframes slider-move {
        0% {
            margin-left: 0;
        }

        20% {
            margin-left: 0;
        }

        40% {
            margin-left: -102%;
        }

        60% {
            margin-left: -102%;
        }

        80% {
            margin-left: -203%;
        }

        100% {
            margin-left: -203%;
        }
    }

    .company-sec {
        flex-direction: row;

    }

    .company-div {
        flex-direction: column;
    }

    .flx {
        align-items: flex-end;
    }

    .company-ch {
        width: 95%;
        margin-top: 20px;
    }

    .news-div {
        flex-wrap: wrap;

    }

    .news-ch {
        width: 47%;
        margin-top: 20px;
    }

    .email-input-div {
        flex-wrap: wrap;
    }

    .email-input-ch {
        width: 100%;
    }

    .agree-div {
        width: 100%;
        margin-top: 20px;
    }

    .footer-ch {
        flex-wrap: wrap;
    }

    .foooter-subch {
        width: 50%;
        margin-top: 20px;
    }
}

@media screen and (max-width:570px) {

    .header {
        height: 50vh;
    }

    .img1-div {
        height: 50vh;
    }

    .img2-div {
        height: 50vh;
    }

    .we-heading {
        font-size: 20px;
    }

    .get-btn {
        margin-top: 10px;
        height: 35px;
        width: 100px;
        font-size: 10px;
    }

    .mouse-div {
        width: 10px;
    }
}

@media screen and (max-width:570px) {
    .img-sub {
        flex-wrap: wrap;
    }

    .img-sub1 {
        width: 100%;
    }
}

@media screen and (max-width:425px) {

    .slider-ch {
        width: 621%;
        animation: slider-move 12s linear infinite;
    }

    @keyframes slider-move {
        0% {
            margin-left: 0;
        }

        9% {
            margin-left: 0;
        }

        18% {
            margin-left: -103.5%;
        }

        27% {
            margin-left: -103.5%;
        }

        36% {
            margin-left: -209%;
        }

        45% {
            margin-left: -209%;
        }

        54% {
            margin-left: -313%;
        }

        63% {
            margin-left: -313%;
        }

        72% {
            margin-left: -417%;
        }

        81% {
            margin-left: -417%;
        }

        90% {
            margin-left: -521%;
        }

        100% {
            margin-left: -521%;
        }
    }

    .news-ch {
        width: 100%;
    }

    .email-input,
    .last-r-arrow {
        font-size: 30px;
    }

    .foooter-subch {
        width: 100%;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
    }
}